<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Editing degree_type</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @degree_type %> |
    <%= link_to 'Back', degree_types_path %>
  </div>
</div>