<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="jumbotron">
      <h1>Biolumni<font style="color:orange;"></font></h1>
      <p>The Department of Biological Sciences alumni database.</p>

			<% if signed_in? %>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div id="tag_cloud">
              <% tag_cloud Alum.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag, css_class| %>
                <%= link_to tag.name, tag_path(tag.name), class: "label label-primary"  %>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <%= link_to 'New Alumni', new_alum_path, class: "btn btn-primary pull-right" %>
          </div>
        </div>
        <br>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <script src='http://www.google.com/jsapi'></script>
          <div id='chart1'></div>
          <%= render_chart @chart_careers, 'chart1' %>              
        </div>
        <div class="col-md-6">
          <div id='chart2'></div>
          <%= render_chart @chart_phds, 'chart2' %>              
        </div>
      </div>
    </div>
  </div>
</div>  
