<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="jumbotron">
      <h1>Biolumni<font style="color:orange;"></font></h1>
      <p>The Department of Biological Sciences alumni database.</p>

			<% if signed_in? %>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div id="tag_cloud">
              <% tag_cloud Alum.tag_counts.sort { |x, y| x.name <=> y.name }, %w{s m l} do |tag, css_class| %>
                <%= link_to tag.name, tag_path(tag.name), class: "label label-primary"  %>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <%= link_to 'New Alumni', new_alum_path, class: "btn btn-primary pull-right" %>
          </div>
        </div>
        <% if @chart %><br>
          <script src='http://www.google.com/jsapi'></script>
          <div id='chart' class="center-block"></div>
          <%= render_chart @chart, 'chart' %>              
        <% end %>
		 	<% end %>
    </div>
  </div>
</div>  
