<% provide(:title, @user.name) %>

<div class="page-header">
  <h1><%= @user.name %></h1>
</div>

<p>
  <%= mail_to @user.email %>
</p>

<% if current_user == @user %>
<p><%= link_to 'Add Alumni', new_alum_path, class: 'btn btn-primary pull-right' %></p>
<% end %>

<%= render "user_alums" %>

