<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>New degree</h1>

    <%= render 'form' %>

    <% if @degree.alum %>
      <%= link_to 'Back', alum_path(@degree.alum) %>
    <% else %>
      <%= link_to 'Back', alum_path(params[:alum_id]) %>
    <% end %>

  </div>
</div>