<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="page-header">
      <h1>Editing alumni</h1>
    </div>

    <%= render 'form' %>

    <%= link_to 'Back', alum_path(@alum) %>
  </div>
</div>