<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>New alumni</h1>

    <p><label class="label label-danger">Warning</label> Please search existing alumni before adding a new one.</p>

    <%= render 'form' %>

    <%= link_to 'Back', alums_path %>
  </div>
</div>