<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="page-header">
      <h1>New alumni</h1>
    </div>

    <p><label class="label label-danger">Warning</label> Please search existing alumni before adding a new one.</p>

    <%= render 'form' %>

    <%= link_to 'Back', alums_path %>
  </div>
</div>